<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="header" class="container">
	<nav class="navbar navbar-inverse navbar-static-top">
		<a class="navbar-brand" href="#">Project name</a>
		<ul class="nav nav-pills">
			<li class="nav-item active"><a class="nav-link" href="/">Home
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/media/cd">CD</a></li>
			<li class="nav-item"><a class="nav-link" href="/media/dvd">DVD</a></li>
			<li class="nav-item"><a class="nav-link" href="/media/game">Games</a></li>
		</ul>
	</nav>
</div>
</html>